/*--Fonts import--*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Quicksand:wght@300..700&display=swap");
/*--Fonts import--*/

/*--Area de Root Colors--*/
:root {
  --cor-rox: #cb75ff; /* Roxo */
  --cor-gre: #57ffb8; /* green */
  --cor-whi: #fff; /* Branco */
}
/* Suaviza o comportamento do scroll */
html {
  scroll-behavior: smooth;
}
/* Reseta os estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  height: 100vh;
  width: 100%;
  justify-content: center;
  background-color: #040008;
}
/*--header--*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12rem;
  width: 100%;
  padding: 0% 10%;
  overflow: hidden;
}
/*-- header--*/
/*-- navegação--*/
nav {
  display: flex;
  gap: 10px;
}
nav a {
  display: flex;
  width: 140px;
  height: 50px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  font-family: Oxanium;
  font-weight: 300;
  color: var(--cor-gre);
  text-decoration: none;
  font-size: 14px;
  transition: ease, 0.4s;
}
nav a:hover {
  background-color: #1f1f1f79;
  color: var(--cor-rox);
  cursor: pointer;
}
/*-- navegação--*/
/*-- logo div--*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
}
/*-- logo div--*/
/*-- logo--*/
.logo a img {
  width: 150px;
  height: auto;
}
.logo a img:hover {
  cursor: pointer;
}
/*-- logo--*/

/*-- background--*/
.background {
  border-radius: 35px 35px 0px 0px;
  background: linear-gradient(180deg, #101010, #00000000);
  padding: 20px;
  max-width: 90%; /*-- Largura Maxima background--*/
  height: 100vh; /*-- Altura background--*/
  margin: 5% auto; /*-- Margem interna Background--*/
}
/*-- background--*/
/*-- sobre--*/
.sobre {
  display: flex; /*-- Tipo de Display sobre--*/
  align-items: center; /*-- Alihamento vertical sobre--*/
  justify-content: center; /*-- Alinhamento horizontal sobre--*/
  flex-direction: column; /*-- organização conteúdo sobre--*/
  text-align: center; /*-- alinhar texto--*/
  width: 50%; /*-- largura sobre--*/
  height: 60%; /*--Altura sobre--*/
  margin: auto; /*-- Margem interna de Sobre--*/
  overflow: hidden; /*-- Manter conteúdo dentro de sobre--*/
  gap: 30px; /*-- Espaçamento entre o sobre--*/
  color: var(--cor-whi); /*-- Cores do texto sobre--*/
}
.sobre h1 {
  text-align: center; /*-- alinhamento da fonte--*/
  font-weight: 300; /*-- espessura da fonte--*/
  font-size: 2vw;
}
.sobre p {
  font-size: 1.2vw;
  text-align: justify; /*-- tipo de quebra de texto--*/
  font-weight: 100; /*-- espessura da fonte--*/
}
/*-- sobre--*/
/*-- button--*/
.contratar button {
  font-family: Oxanium;
  font-size: 1.2vw;
  font-weight: 500;
  width: 16vw;
  height: 4vw;
  border: none;
  border-radius: 100px;
  transition: ease, 0.4s;
}
.contratar button:hover {
  cursor: pointer;
  color: var(--cor-whi);
  background-color: var(--cor-rox);
}
/*-- button--*/

/*--section 2--*/
.backgroundnet {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  background: radial-gradient(
    circle at center,
    #2f0093,
    #110056
  ); /*-- color graient background--*/
  height: 80vh;
  padding: 5%; /*-- Padding interno background--*/
  width: 90%;
  max-width: 100%; /*-- Largura Maxima background--*/
  margin: auto; /*-- Margem interna Background--*/
  overflow: hidden;
}
.netflix {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  color: var(--cor-whi);
  gap: 40px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 0.01rem;
}
.netflix h1 {
  font-size: 32px;
  font-weight: 400;
}
.netflix h2 {
  font-size: 24px;
  font-weight: 300;
}
.icons {
  display: flex;
  gap: 15px;
}
.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
.netflix p {
  width: 330px;
  text-align: justify;
}
.buttonsnetflix {
  visibility: hidden;
}
.painels {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 50px;
}
.square1 {
  width: 320px;
  height: 160px;
  background-color: var(--cor-rox);
}
.backgroundtime {
  display: flex;
  flex-direction: column;
  width: 100%; /*-- Largura Maxima background--*/
  padding: 0 120px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  background: url("Khosmix Assets/Images/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.blur-container {
  display: flex;
  flex-direction: column;
  width: 200px; /* Ajuste para o tamanho do seu elemento */
  height: 600px; /* Ajuste para o tamanho do seu elemento */
  padding: 20px;
  border-radius: 15px; /* Bordas arredondadas */
  justify-content: space-between;

  /* Fundo com transparência */
  background: rgba(255, 255, 255, 0.1);

  /* Efeito de desfoque no fundo */
  backdrop-filter: blur(10px);

  /* Contorno sutil (opcional) */
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* Estilo do texto interno */
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}
/* -- Footer --*/
footer {
  display: block;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: var(--cor-whi);
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #050209;
}
