/*--Fonts import--*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Quicksand:wght@300..700&display=swap");
/*--Fonts import--*/

/*-- Root Colors --*/
:root {
  /* Cores */
  --cor-rox: #cb75ff;  /* Roxo */
  --cor-gre: #57ffb8;  /* Verde */
  --cor-whi: #fff;     /* Branco */
  --cor-preto: #040008; /* Preto */

  /* Fontes e Tamanhos */
  --font-size-h1: 2vw;
  --font-size-h2: 1.5vw;
  --font-size-p: 1.2vw;
  --font-size-button: 1.2vw;
  --font-size-nav: 14px;

  /* Espaçamento */
  --padding-default: 5%;
  --padding-header: 0% 10%;
  --padding-button: 16vw;

  /* Transições */
  --transition-default: 0.4s ease;
  --transition-hover: 0.2s ease;
}

/*-- Suaviza o comportamento do scroll --*/
html {
  scroll-behavior: smooth;
}

/*-- Reseta os estilos básicos --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-- Body --*/
body {
  font-family: "Quicksand";
  background-color: var(--cor-preto);
  height: 100vh;
  width: 100%;
  justify-content: center;
}

/*-- Header --*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12rem;
  width: 100%;
  padding: var(--padding-header);
  overflow: hidden;
}

/*-- Navegação --*/
nav {
  display: flex;
  gap: 10px;
}

nav a {
  display: flex;
  width: 140px;
  height: 50px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  font-family: Oxanium;
  font-weight: 300;
  color: var(--cor-gre);
  text-decoration: none;
  font-size: var(--font-size-nav);
  transition: var(--transition-default);
}

nav a:hover {
  background-color: #1f1f1f79;
  color: var(--cor-rox);
  cursor: pointer;
}

/*-- Logo --*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.logo a img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

/*-- Background --*/
.background {
  border-radius: 35px 35px 0px 0px;
  background: linear-gradient(180deg, #101010, #00000000);
  padding: 20px;
  max-width: 90%;
  height: 100vh;
  margin: var(--padding-default) auto;
}

/*-- Seção Sobre --*/
.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: 60%;
  margin: auto;
  overflow: hidden;
  gap: 30px;
  color: var(--cor-whi);
}

.sobre h1 {
  font-size: var(--font-size-h1);
  font-weight: 300;
}

.sobre p {
  font-size: var(--font-size-p);
  text-align: justify;
  font-weight: 100;
}

/*-- Button --*/
.contratar button {
  font-family: Oxanium;
  font-size: var(--font-size-button);
  font-weight: 500;
  width: var(--padding-button);
  height: 4vw;
  border: none;
  border-radius: 100px;
  transition: var(--transition-default);
}

.contratar button:hover {
  cursor: pointer;
  color: var(--cor-whi);
  background-color: var(--cor-rox);
}

/*-- Seção 2 --*/
.backgroundnet {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  background: radial-gradient(circle at center, #2f0093, #110056);
  height: 80vh;
  padding: var(--padding-default);
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.netflix {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  color: var(--cor-whi);
  gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.01rem;
}

.netflix h1 {
  font-size: 32px;
  font-weight: 400;
}

.netflix h2 {
  font-size: 24px;
  font-weight: 300;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.icons .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s, filter 0.2s;
}

.icons a:hover .icon {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.netflix p {
  width: 330px;
  text-align: justify;
}

.painels {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 50px;
}

.square1 {
  width: 320px;
  height: 160px;
  background-color: var(--cor-rox);
}

/*-- Botões no Netflix --*/
.buttonsnetflix {
  display: flex;
  gap: 15px;
}

/*-- Botão --*/
.contratar, .maisinfo {
  font-family: Oxanium;
  font-size: 1.5ch;
  font-weight: 500;
  width: 13rem;
  height: 3rem;
  border: none;  /* SEM BORDA DESGRAÇAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
  border-radius: 1000px;  /* Bordas arredondadas */
  color: var(--cor-preto);  /* Fonte preta */
  background-color: var(--cor-whi);  /* Preenchimento branco */
  transition: var(--transition-default);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Quando o mouse passa por cima do botão */
.contratar:hover, .maisinfo:hover {
  border-color: var(--cor-rox);  /* Cor da borda para roxo */
  color: var(--cor-whi);  /* Cor da fonte para branca */
  background-color: var(--cor-rox);  /* Fundo roxo */
  transform: scale(1.05); /* Efeito de zoom suave ao passar o mouse */
}

/* Ícone de Informação */
.infoicon {
  width: 20px;
  height: auto;
  transition: filter 0.3s ease; /* Suaviza a transição da cor */
  filter: invert(0) brightness(1); /* Não aplicar nenhum efeito por padrão */
}

/* Quando o mouse passa por cima do botão, afeta também o ícone */
.contratar:hover .infoicon, .maisinfo:hover .infoicon {
  filter: invert(1) brightness(2); /* Inverte a cor para branco e aumenta o brilho */
}

/*-- Seção Netflix --*/
.backgroundnet {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  background: radial-gradient(circle at center, #2f0093, #110056);
  height: 80vh;
  padding: var(--padding-default);
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.netflix {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  color: var(--cor-whi);
  gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.01rem;
}

.netflix h1 {
  font-size: 32px;
  font-weight: 400;
}

.netflix h2 {
  font-size: 24px;
  font-weight: 300;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.icons .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s, filter 0.2s;
}

.icons a:hover .icon {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.netflix p {
  width: 330px;
  text-align: justify;
}

/*-- Botões --*/
.buttonsnetflix {
  display: flex;
  gap: 15px;
}

.buttonsnetflix a {
  text-decoration: none;
}

.contratar, .maisinfo {
  font-family: Oxanium;
  font-size: 1.5ch;
  font-weight: 500;
  width: 13rem;
  height: 3rem;
  border: none;  /* SEM BORDA DESGRAÇAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
  border-radius: 1000px;  /* Bordas arredondadas */
  color: var(--cor-preto);  /* Fonte preta */
  background-color: var(--cor-whi);  /* Preenchimento branco */
  transition: var(--transition-default);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/*-- Painéis --*/
.painels {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 50px;
}

.square1 {
  width: 320px;
  height: 160px;
  background-color: var(--cor-rox);
}


/*-- Backgroundtime --*/
.backgroundtime {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 120px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  background: url("Khosmix Assets/Images/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

/*-- Blur Container --*/
.blur-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 600px;
  padding: 20px;
  border-radius: 15px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}

/*-- Footer --*/
footer {
  display: block;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: var(--cor-whi);
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #050209;
}
