/* ---------------- Fonts Import ------------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Quicksand:wght@300..700&display=swap");

/* ---------------------------Variáveis Globais ------------------------ */
:root {
  /*--------------------------------- Cores------------------- */
  --cor-rox: #cb75ff; /* Roxo */
  --cor-gre: #57ffb8; /* Verde */
  --cor-whi: #fff; /* Branco */

  /* -----------------------Tamanhos-------------------- */
  --border-radius-lg: 35px;
  --spacing-md: 10px;

  /* --------------------Transição ----------------*/
  --transition: ease 0.4s;
}

/* ---------------------- Reset e Estilo Global ----------------- */
/* ------------------Suaviza o comportamento do scroll---------------- */
html {
  scroll-behavior: smooth;
}

/* -------------------Reseta os estilos básicos------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------Configurações do Body------------------ */
body {
  font-family: "Quicksand";
  width: 100%;
  background-color: #040008;
}

/* ------------------- Header / Cabeçalho ------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
}

/* ---------------- Navegação do Header------------------- */
nav {
  display: flex;
  gap: var(--spacing-md);
}

nav a {
  display: flex;
  width: 140px;
  height: 50px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  font-family: "Oxanium", "Quicksand";
  font-weight: 300;
  color: var(--cor-gre);
  text-decoration: none;
  font-size: 14px;
  transition: var(--transition);
}

nav a:hover {
  background-color: rgba(31, 31, 31, 0.47);
  color: var(--cor-rox);
  cursor: pointer;
}

/* ---------------------- Logo do header -------------------- */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.logo a img {
  width: 150px;
  transition: var(--transition);
}

.logo a img:hover {
  cursor: pointer;
}

/* ------------------ Background section 1 (Sobre)------------------- */
.background {
  border-radius: var(--border-radius-lg);
  background: linear-gradient(180deg, #101010, transparent);
  max-width: 90%;
  height: 90vh;
  margin: 0.5rem auto;
}

/* -- --------------------------section 1 Sobre--------------------- -- */
.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: 60%;
  margin: 5rem auto 1rem auto;
  gap: 30px;
  color: var(--cor-whi);
}
/* -- --------------------------section 1 Sobre H1--------------------- -- */
.sobre h1 {
  font-weight: 300;
  font-size: 2vw;
}
/* -- --------------------------section 1 Sobre P--------------------- -- */
.sobre p {
  font-size: 1.2vw;
  text-align: justify;
  font-weight: 100;
}

/* --------------------- section 1 Botão Contratar (Sobre) ---------------------- */
.contratar button {
  font-family: "Quicksand";
  font-size: 1.2rem;
  font-weight: 500;
  width: 16rem;
  height: 4rem;
  border: none;
  border-radius: 100px;
  transition: var(--transition);
  margin-top: 5rem;
}

.contratar button:hover {
  cursor: pointer;
  color: var(--cor-whi);
  background-color: var(--cor-rox);
}
/*------------------------Fim Section 1 --------------------------*/
/*---------------------- Section 2 Background-----------------------*/
.backgroundnet {
  width: 90%;
  margin: 70px auto;
  height: 80vh;
  overflow: hidden;
  border-radius: 35px;
  background: radial-gradient(circle at center, #2f0093, #110056);
}
/*---------------------- Section 2 Netflix-----------------------*/
.netflix {
  display: flex;
  width: 90%;
  display: flex;
  flex-direction: column;
  color: var(--cor-whi);
  gap: 40px;
  padding: 35px 50px;
}
/*---------------------- Section 2 Title-----------------------*/
.title {
  display: flex;
  flex-direction: column;
  gap: 0.01rem;
}

.netflix .title h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.netflix .title h2 {
  font-size: 1rem;
  font-weight: 300;
}
/*---------------------- Section 2 Netflix-----------------------*/
.netflix {
  width: 100%;
  color: var(--cor-whi);
  gap: 40px;
}
/*---------------------- Section 2 Netflix Title-----------------------*/
.title {
  display: flex;
  flex-direction: column;
  gap: 0.01rem;
}

.netflix h1 {
  font-size: 32px;
  font-weight: 400;
}

.netflix h2 {
  font-size: 24px;
  font-weight: 300;
}
.netflix p {
  width: 330px;
  text-align: justify;
}
/*---------------------- Section 2 Netflix Icons-----------------------*/
/*---------------------- Section 2 Icons-----------------------*/

.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.icons .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s, filter 0.2s;
}

.icons a:hover .icon {
  transform: scale(1.2);
  filter: brightness(1.2);
}
.icons {
  display: flex;
  gap: 15px;
}
/*------------------------ Botões no Netflix ----------------------*/
.buttonsnetflix {
  display: flex;
  width: 84%;
  gap: 15px;
  color: black;
}
.buttonsnetflix a {
  text-decoration: none;
  color: black;
}
.contratar2,
.maisinfo {
  font-family: "Quicksand";
  font-size: 1.5ch;
  font-weight: 500;
  width: 13rem;
  height: 3rem;
  border: none;
  border-radius: 1000px;
  color: var(--cor-preto);
  background-color: var(--cor-whi);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 70px 0;
}
.contratar2:hover,
.maisinfo:hover {
  border-color: var(--cor-rox);
  color: var(--cor-whi);
  background-color: var(--cor-rox);
}
.contratar2:hover .infoicon,
.maisinfo:hover .infoicon {
  filter: invert(1) brightness(2);
}
/*---------------------------------- Ícone de Informação ----------------------------------*/
.infoicon {
  width: 20px;
  height: auto;
  transition: filter 0.3s ease;
  filter: invert(0) brightness(1);
}
/*---------------------- Section 2 Netflix Painels-----------------------*/

.painels {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 50px;
}

.square1 {
  width: 320px;
  height: 160px;
  background-color: var(--cor-whi);
}
/*---------------------- Section 2 Netflix FIM-----------------------*/
/*-------------------------------Footer principal--------------------------*/
.footerpro {
  display: flex;
  background-color: #040008;
  color: #fff;
  text-align: center;
  padding-top: 14rem;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*----------------------------Container do footer------------------------*/
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

/*-------------------------Parte superior (título) Footer-------------------------*/
.footer-top h2 {
  font-size: 1.6rem;
}
.subfooter p {
  font-size: 1.6rem;
  font-weight: 600;
}
.subfooter {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
/*----------------------------Botão de contactar Footer------------------------*/
.contact-btn {
  font-family: Quicksand;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  background-color: var(--cor-gre);
  color: black;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: var(--cor-rox);
  color: #fff;
}

/*----------------------------Parte inferior Footer-----------------------*/
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.footer-item {
  flex: 1;
  min-width: 200px;
}
/*-----------------------------título "H3" e "p" Footer blocks Footer-----------------------*/
.footer-item h3 {
  position: relative;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.footer-item h3::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background-color: var(--cor-whi);
}
.footer-item p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: left;
}

/*----------------------------Ícones sociais Footer----------------------*/
.social-icons {
  display: flex;
  gap: 0.5rem;
}
.social-icons a {
  text-decoration: none;
  cursor: pointer;
  color: #040008;
  padding: 10px 15px;
  border-radius: 50%;
}
.social-icons .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: black;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.social-icons .icon:hover {
  background-color: var(--cor-rox);
  color: var(--cor-whi);
}

/*--------------------Copyright Footer----------------------*/
.footer-copyright {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}
